[Unit]
Description=Caddy reverse proxy for MinIO

[Container]
Image=docker.io/library/caddy
Volume=/etc/caddy/Caddyfile:/etc/caddy/Caddyfile:Z
PublishPort=80:80
PublishPort=443:443
AutoUpdate=registry

[Install]
WantedBy=default.target