[Unit]
Description=MinIO S3-Compatible Storage

[Container]
Image=quay.io/minio/minio
EnvironmentFile=/etc/minio.env
Volume=/var/lib/minio/data/:/data:Z
Exec=server /data --console-address ":9001"
PublishPort=9000:9000
PublishPort=9001:9001
AutoUpdate=registry

[Install]
WantedBy=default.target