apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: metallb
  namespace: metallb-system
spec:
  interval: 10m
  targetNamespace: metallb-system
  chart:
    spec:
      chart: metallb
      version: "7.10.4"
      sourceRef:
        kind: HelmRepository
        name: metallb
        namespace: flux-system
      interval: 10m
  install:
    createNamespace: true
