[Unit]
Description=Run docker compose for komodo
Requires=docker.service
After=docker.service

[Service]
Type=exec
WorkingDirectory=/etc/containers/docker/komodo-periphery/
ExecStart=/usr/bin/docker compose -f periphery.compose.yaml up
ExecStop=/usr/bin/docker compose -f periphery.compose.yaml down
Restart=always
TimeoutStartSec=0
User=core

[Install]
WantedBy=multi-user.target
