http:
  middlewares:
    hsts:
      headers:
        stsSeconds: 31536000
        stsIncludeSubdomains: true
        stsPreload: true
        forceSTSHeader: true

  routers:
    komodo-router:
      rule: "Host(`komodo.simenmo.com`)"
      entryPoints:
        - websecure
      middlewares:
        - hsts
      service: komodo-service
      tls:
        certResolver: hetzner
        domains:
          - main: "simenmo.com"
            sans:
              - "*.simenmo.com"

    immich-router:
      rule: "Host(`immich.simenmo.com`)"
      entryPoints:
        - websecure
      middlewares:
        - hsts
      service: immich-service
      tls:
        certResolver: hetzner
        domains:
          - main: "simenmo.com"
            sans:
              - "*.simenmo.com"
    ha-p-router:
      rule: "Host(`ha-p.simenmo.com`)"
      entryPoints:
        - websecure
      middlewares:
        - hsts
      service: ha-p-service
      tls:
        certResolver: hetzner
        domains:
          - main: "simenmo.com"
            sans:
              - "*.simenmo.com"
    nextcloud-router:
      rule: "Host(`nextcloud.simenmo.com`)"
      entryPoints:
        - websecure
      middlewares:
        - hsts
      service: nextcloud-service
      tls:
        certResolver: hetzner
        domains:
          - main: "simenmo.com"
            sans:
              - "*.simenmo.com"
  services:
    komodo-service:
      loadBalancer:
        servers:
          - url: "http://192.168.20.50:9120"
    immich-service:
      loadBalancer:
        servers:
          - url: "http://192.168.20.52:2283"
    ha-p-service:
      loadBalancer:
        servers:
          - url: "http://100.64.0.8:8123"
    nextcloud-service:
      loadBalancer:
        servers:
          - url: "http://100.64.0.1:80"
